#header{
    position: fixed;
    width: 100%;

    & .container{
        display: flex;
        max-width: 100%;

        & figure{
            width: 15%;

            & img{
                object-fit: cover;
                max-width: 100%;
            }
        }

        & .menu {
            width: 70%;
            
            & ul{
                display: flex;
                width: 100%;
                & li{
                    padding: 5px 15px;
                    & a{
                        color: #000;
                    }
                }
            }
        }

        & .rep{
            width: 15%;
        }

    }
}